body {background-color: antiquewhite;
}
.p1 {text-align: center;
font-size: 200%;
color: brown;
border-color: black;
border-width: 6px;
border-style: double;
margin-left: 30%;
margin-right: 15%;
padding-left: 15%;
padding-top: 20%;
background-color: blueviolet;

}